Source: libsesstype
Priority: extra
Maintainer: Nicholas Ng <nickng@doc.ic.ac.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.doc.ic.ac.uk/~cn06/sessionc
Vcs-Git: git://github.com/sessionc/libsesstype.git

Package: libsesstype-dev
Section: libdevel
Architecture: amd64
Depends: libsesstype (= ${binary:Version})
Description: Core library for session types programming (dev)
 Development files for programming with Session Types in C.
 This is a core library for internal tree representation of Sesion Types, part of Session C programming framework. See http://www.doc.ic.ac.uk/~cn06/sessionc for details.

Package: libsesstype
Section: libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Core library for session types programming
 Shared libraries for programming with Session Types in C.
 This is a core library for internal tree representation of Sesion Types, part of Session C programming framework. See http://www.doc.ic.ac.uk/~cn06/sessionc for details.
